<!
<html xmlns:th="http://thymeleaf.org"> <!--Aqui declaro o namespace th para ser reconhecido pelo thymeleaf-->
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Detalhes do Ninja</title>
    <link rel="stylesheet" href="/css/detalhes.css">
</head>
<body>
<h1>Detalhes do Ninja</h1>
<div>
    <img th:src="${ninja.imgUrl}" alt="${ninja.nome}" width="100" />
    <h2 th:text="${ninja.nome}"></h2>
    <p> <strong>Email: </strong> <span th:text="${ninja.email}"></span> </p>
    <p> <strong>Idade: </strong> <span th:text="${ninja.idade}"></span> </p>
    <p> <strong>Rank: </strong> <span th:text="${ninja.rank}"></span> </p>

    <h3>Missões</h3>
    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Dificuldade</th>
            </tr>
        </thead>
        <tbody>
        <tr th:each="missao : ${ninja.missoes}">
            <td th:text="${missao.nome}"></td>
            <td th:text="${missao.dificuldade}"></td>
        </tr>
        </tbody>

    </table>

</div>

<a href="/ninja/ui/buscar" class="btn-voltar">Voltar</a>


</body>
</html>